.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.headingContainer {
  margin-bottom: 32px;
}

.levelSelect {
  background-color: var(--color-background);
  aspect-ratio: 5/2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 4px;
  padding: 4px;
}

.levelButton {
  display: block;
  outline: none;
}

.selectedLevelButton {
  transform: scale(1.2);
  transition: transform 0.1s ease;
  color: var(--color-secondary);
}
