.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.heading {
  margin-bottom: 32px;
}

.levelSelect {
  background-color: #000000;
  aspect-ratio: 5/2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.levelButton {
  margin: 5%;
  display: block;
}

.selectedLevelButton {
  transform: scale(1.2);
  transition: transform 0.1s ease;
}
