* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

@font-face {
  font-family: "Pixel Emulator";
  src: url("/fonts/PixelEmulator.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Pixel Emulator", sans-serif;
  color: var(--color-base);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

canvas {
  display: block;
}
