.backgroundContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.background {
  position: relative;
}

.canvasContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
