.gameComponent {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2vh;
}

.leftStats,
.rightStats {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.5em;
}

.leftStats {
  align-items: flex-end;
}

.rightStats {
  align-items: flex-start;
}

.pieceCount {
  margin-top: auto;
}

.score {
  word-wrap: break-word;
  padding: var(--size-large-padding);
  height: 100%;
}

.nextPieceContainer {
  margin-top: 1em;
  background-color: var(--color-background);
}

.levelContainer {
  margin-top: 1em;
}

.level {
  word-wrap: break-word;
  padding: var(--size-large-padding);
  height: 100%;
}

.linesCleared {
  word-wrap: break-word;
  height: 100%;
  padding: var(--size-large-padding);
}

.gameBoardContainer {
  aspect-ratio: 10/20;
  width: 40vh;
}

@media screen and (max-aspect-ratio: 2.99/4) {
  .gameComponent {
    font-size: 2vw;
  }
}

@media screen and (max-width: 1200px) {
  .leftStats,
  .rightStats {
    margin: 0 1em;
  }
  .gameComponent {
    font-size: 2.2vh;
  }
}

@media screen and (max-width: 1200px) and (max-aspect-ratio: 2.99/4) {
  .gameComponent {
    font-size: 2.2vw;
  }
}
