.gameComponent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 2vh;
}

.leftStats,
.rightStats {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em 0.5em;
}

.leftStats {
  align-items: flex-end;
}

.rightStats {
  align-items: flex-start;
}

.pieceCount {
  margin-top: auto;
}

.scoreContainer {
  min-width: 80%;
}

.score {
  word-wrap: break-word;
  padding: var(--size-large-padding);
  height: 100%;
}

.nextPieceContainer {
  margin-top: 1em;
}

.levelContainer {
  margin-top: 1em;
}

.level {
  word-wrap: break-word;
  padding: var(--size-large-padding);
  height: 100%;
}

.linesCleared {
  word-wrap: break-word;
  height: 100%;
  padding: var(--size-large-padding);
}

.gameBoardContainer {
  width: 40vh;
  max-width: 30vw;
  margin: 0.5em 0.5em;
  aspect-ratio: 10/20;
}

@media screen and (max-aspect-ratio: 2.99/4) {
  .gameComponent {
    flex-direction: column;
    align-items: stretch;
    margin: 3vw 5vw;
    font-size: 2vw;
    max-width: 55vh;
  }
  .scoreContainer {
    width: 100%;
    display: flex !important;
    justify-content: space-between;
  }
  .score {
    flex: 1;
  }
  .main {
    margin: 3vw 0;
    display: flex;
    justify-content: space-between;
  }
  .gameBoardContainer {
    margin: 0;
    width: 70%;
    max-width: 32vh;
  }
  .nextPieceContainer {
    margin-top: 0;
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 1200px) {
  .gameComponent {
    font-size: 3vh;
  }
  .score {
    padding: var(--size-medium-padding);
  }
  .linesCleared {
    padding: var(--size-medium-padding);
  }
}

@media screen and (max-width: 1200px) and (max-aspect-ratio: 2.99/4) {
  .gameComponent {
    font-size: 3vw;
  }
}

@media screen and (max-width: 600px) {
  .gameComponent {
    font-size: 4vh;
  }
  .score {
    padding: var(--size-small-padding);
  }
  .linesCleared {
    padding: var(--size-small-padding);
  }
}

@media screen and (max-width: 600px) and (max-aspect-ratio: 2.99/4) {
  .gameComponent {
    font-size: 4vw;
  }
}
