.button,
.buttonSmall,
.buttonLarge {
  cursor: pointer;
  line-height: 1em;
  border: 2px solid #000000;
  color: #000000;
}

.button {
  font-size: var(--size-normal-base);
  padding: var(--size-normal-padding);
}

.buttonSmall {
  font-size: var(--size-small-base);
  padding: var(--size-small-padding);
}

.buttonLarge {
  font-size: var(--size-large-base);
  padding: var(--size-large-padding);
}

.iconLeft {
  margin-right: var(--size-normal-padding);
}

.iconRight {
  margin-left: var(--size-normal-padding);
}

.iconLeftSmall {
  margin-right: var(--size-small-padding);
}

.iconRightSmall {
  margin-left: var(--size-small-padding);
}

.iconLeftLarge {
  margin-right: var(--size-large-padding);
}

.iconRightLarge {
  margin-left: var(--size-large-padding);
}
