.root,
.rootSmall,
.rootLarge {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.root {
  padding: 12px;
}

.rootSmall {
  padding: 8px;
}

.rootLarge {
  padding: 16px;
}

.button,
.buttonSmall,
.buttonLarge {
  background-color: #000000;
  color: #ffffff;
  border: none;
  display: block;
  z-index: 2;
}

.button {
  padding: 12px 24px !important;
}

.buttonSmall {
  padding: 8px 16px !important;
}

.buttonLarge {
  padding: 16px 32px !important;
}

.horizontalBorder,
.horizontalBorderSmall,
.horizontalBorderLarge,
.verticalBorder,
.verticalBorderSmall,
.verticalBorderLarge {
  position: absolute;
  background-color: #00ffff;
}

.horizontalBorder {
  height: 100%;
  width: calc(100% - 24px);
}

.horizontalBorderSmall {
  height: 100%;
  width: calc(100% - 16px);
}

.horizontalBorderLarge {
  height: 100%;
  width: calc(100% - 32px);
}

.verticalBorder {
  height: calc(100% - 24px);
  width: 100%;
}

.verticalBorderSmall {
  height: calc(100% - 16px);
  width: 100%;
}

.verticalBorderLarge {
  height: calc(100% - 32px);
  width: 100%;
}
