.root,
.rootSmall,
.rootLarge {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.root {
  padding: var(--size-medium-padding);
}

.rootSmall {
  padding: var(--size-small-padding);
}

.rootLarge {
  padding: var(--size-large-padding);
}

.button,
.buttonSmall,
.buttonLarge {
  background-color: var(--color-background);
  border: none;
  display: block;
  z-index: 2;
}

.button {
  padding: var(--size-medium-padding) var(--size-medium-base) !important;
}

.buttonSmall {
  padding: var(--size-medium-padding) var(--size-medium-base) !important;
}

.buttonLarge {
  padding: var(--size-medium-padding) var(--size-medium-base) !important;
}

.horizontalBorder,
.horizontalBorderSmall,
.horizontalBorderLarge,
.verticalBorder,
.verticalBorderSmall,
.verticalBorderLarge {
  position: absolute;
}

.horizontalBorder {
  height: 100%;
  width: calc(100% - var(--size-medium-base));
}

.horizontalBorderSmall {
  height: 100%;
  width: calc(100% - var(--size-small-base));
}

.horizontalBorderLarge {
  height: 100%;
  width: calc(100% - var(--size-large-base));
}

.verticalBorder {
  height: calc(100% - var(--size-medium-base));
  width: 100%;
}

.verticalBorderSmall {
  height: calc(100% - var(--size-small-base));
  width: 100%;
}

.verticalBorderLarge {
  height: calc(100% - var(--size-large-base));
  width: 100%;
}
