.heading,
.headingSmall,
.headingLarge {
  color: var(--color-base);
  background-color: var(--color-background);
}

.heading {
  font-size: var(--size-medium-base);
  padding: var(--size-small-base);
}

.headingSmall {
  font-size: var(--size-small-base);
  padding: var(--size-medium-padding);
}

.headingLarge {
  font-size: var(--size-large-base);
  padding: var(--size-medium-base);
}
